[submodule "breakout-ecs/YggECS"]
	path = breakout-ecs/YggECS
	url = https://github.com/NateTheGreatt/YggECS.git

[submodule "/home/darielvr/Escritorio/CursoGameEngine/Game/YggECS"]
	path = /home/darielvr/Escritorio/CursoGameEngine/Game/YggECS
	url = https://github.com/NateTheGreatt/YggECS.git
